'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Palladium'
      'submenu': [
        {
          'label': 'Email'
          'command': 'palladium:email'
        }
      ]
    ]
  }
]
