'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Palladium'
      'submenu': [
        {
          'label': 'Send email',
          'command': 'palladium:send-mail'
        },
        {
          'label': 'Create .mailconfig file',
          'command': 'palladium:create-config'
        }
      ]
    ]
  }
]
